.packageContainer{
    -fx-border-color: #0D7377;
    -fx-background-color: #2d2b2b;
}

GridPane {
    -fx-padding: 10;
}

Label {
    -fx-text-fill: #ffffff;
}

RadioButton {
    -fx-text-fill: #ffffff;
}

CheckBox {
    -fx-text-fill: #ffffff;
}

.packageContainer Label {
    -fx-padding: 5;
}

HBox {
    -fx-padding: 5;
}

Button {
    -fx-padding: 5;
    -fx-cursor: hand;
}

.packageTitle {
    -fx-font-size: 15;
}

.packagePrice {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_RIGHT;
}

.text-field, .password-field {
    -fx-prompt-text-fill: #ffffff;
    -jfx-focus-color: #ffffff;
    -jfx-unfocus-color: #ffffff;
    -fx-text-inner-color: #ffffff;
    -fx-background-color: #393939;
}

.tab-header-background {
    -fx-background-color: #393939;
}

.date-picker-popup {
    -fx-control-inner-background: #393939;
}

.date-picker-popup > * > .today {
    -fx-background-color: #ffa84d;
}

.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .selected {
    -fx-background-color: #FF8C00;
}

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-background-color: #343434;
    -fx-text-fill: #0D7377;
}

.date-picker-popup > * > Button {
    -fx-background-color: green;
}