.root{
    /*-fx-font-size: 16pt;*/
    -fx-font-family: "SansSerif";
}

.packageContainer{
    -fx-border-color: #0D7377;
    -fx-background-color: #2d2b2b;
}

GridPane {
    -fx-padding: 10;
}

Label {
    -fx-text-fill: #ffffff;
    -fx-font-family: "SansSerif";
}

RadioButton {
    -fx-text-fill: #ffffff;
}

CheckBox {
    -fx-text-fill: #ffffff;
}

.packageContainer Label {
    -fx-padding: 5;
}

HBox {
    -fx-padding: 5;
}

Button {
    -fx-padding: 5;
    -fx-cursor: hand;
}

.packageTitle {
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.packagePrice {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_RIGHT;
}

.text-field, .password-field {
    -fx-prompt-text-fill: #726f6f;
    -jfx-focus-color: #ffffff;
    -jfx-unfocus-color: #ffffff;
    -fx-text-inner-color: #ffffff;
    -fx-background-color: #393939;
}
.paynow {
    -fx-background-color: #ff8c00;
    -fx-text-fill: black;
}

.tab-header-background {
    -fx-background-color: #393939;
}

.date-picker-popup {
    -fx-control-inner-background: #393939;
}
.title1{
    -fx-font-size: 20pt ;
    -fx-font-family: "SansSerif";

}
.title2{
    -fx-font-size: 14pt ;
    -fx-font-family: "SansSerif";
}
.userlabel{
    -fx-font-size: 10pt ;
    -fx-font-family: "SansSerif";
}
.date-picker-popup > * > .today {
    -fx-background-color: #ffa84d;
}

.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .selected {
    -fx-background-color: #ff8c00;
}

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-background-color: #343434;
    -fx-text-fill: #0D7377;
}
.back-button{
    -fx-background-color:  #7a0b0b;
    -fx-text-fill: #ff2802;
}
.orange-button{
    -fx-background-color:  #ff8c00;
}
.blue-button{
    -fx-background-color:  #0D7377 ;
    -fx-text-fill: white;
}

.date-picker-popup > * > .label {
    -fx-background-color: green;
}

.tabussi > * > Label {
    -fx-text-fill: black;
}

.personName {
    -fx-background-color: #1E1E20;
}

.passengerHeader {
    -fx-font-size: 14;
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #0D7377;
    -fx-background-color: #1E1E20;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}
.radio-button .dot {
    -fx-mark-color: #ff8c00;
}

.check-box .box {
    -fx-background-color: #1E1E20;
    -fx-border-color: #0D7377;
    -fx-border-radius:3px;
}

.check-box:selected .mark {
    -fx-background-color: #ff8c00;
}

.combo-box-popup .list-view
{
    -fx-background-color: #0D7377;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;
    -fx-text-fill: #ffffff;
    -fx-background-color: #1E1E20;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: #FF8C00;
    -fx-background-color: #0D7377;
    -fx-text-fill: #FFFFFF;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #FF8C00;
    -fx-text-fill: #000000;
}

.combo-box .cell:selected {
    -fx-text-fill: #ffffff;
}

.combo-box-base
{
    -fx-background-color: #1E1E20;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box .label {
    -fx-text-fill: #FFFFFF;
}

.combobox-style{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #1E1E20;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    -fx-focus-color: white;
    -fx-unfocus-color: white;

}

.comboboxUser{
    -fx-background-color:  #393939 ;
}
.ratingSlider{
    -fx-control-inner-background: #393939;
}
.slider .track{
    -fx-background-color:  #393939 ;
}
.slider .thumb{
    -fx-background-color: #FF8C00FF!important;
}
.rrHyperlink{
    -fx-text-fill: #0D7377;
}