.packageContainer{
    -fx-border-color: #0D7377;
    -fx-background-color: #2d2b2b;
}

GridPane {
    -fx-padding: 10;
}

Label {
    -fx-text-fill: #ffffff;
}

.packageContainer Label {
    -fx-padding: 5;
}

HBox {
    -fx-padding: 5;
}

Button {
    -fx-padding: 5;
}

.packageTitle {
    -fx-font-size: 15;
}

.packagePrice {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_RIGHT;
}